<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DafaultConnection" connectionString="Data Source=tcp:maxwellpinto.database.windows.net,1433;Initial Catalog=Hackathon_DB; User ID=maxwellpinto_db;Password=M@lm31d@" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>